<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="custom-ul">
				<br>
				<br>
				<br>
				<br>
				<br>
				<% @forms.each do |form| %>

					<% if current_user == form.user%>

						<li>
							<%= link_to form.title,  form_path(form)%>
							<%= link_to " ", form_path(form), class: "glyphicon glyphicon-trash orange", method: :delete %>
						</li>

						<br>
					<% end %>
				<% end %>
			</ul>
			<%= link_to "Create Form", new_form_path, class: "btn btn-default" %>
		</div>
	</div>
	<%= render "ads" %>

</div>